* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --gold:  230, 194, 0; /* merah utama */
  --dark-gold:  156, 127, 0; /* merah gelap / dusty red */
  --itam: 11, 11, 11;
  --darkgrey: 17, 17, 17; 
  --grey: 158, 158, 158;
  --putih: 255, 255, 255;
}

html,
body {
  overflow-x: hidden;
  max-width: 100%;
}

body {
  background-color: rgb(var(--itam));
  font-family: "Times New Roman", Times, serif;
  color: var(--putih);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: rgb(var(--putih));
  cursor: pointer;
}

/* navbar */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  z-index: 12000;
}
.ham-line {
  display: block;
  width: 24px;
  height: 1.5px;
  background-color: rgb(var(--putih));
  transition:
    transform 0.3s,
    opacity 0.3s;
  -webkit-transition:
    transform 0.3s,
    opacity 0.3s;
}
.ham-line.open:nth-child(1) {
  transform: translateY(6.5px) rotate(45deg);
}
.ham-line.open:nth-child(2) {
  opacity: 0;
}
.ham-line.open:nth-child(3) {
  transform: translateY(-6.5px) rotate(-45deg);
}

.mobile-menu {
  display: none;
  flex-direction: column;
  gap: 0;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.35s ease;
  -webkit-transition: max-height 0.35s ease;
  border-top: 1px solid rgba(var(--grey), 0.2);
  -moz-transition: max-height 0.35s ease;
  -ms-transition: max-height 0.35s ease;
  -o-transition: max-height 0.35s ease;
}
.mobile-menu.mobile-menu--open {
  max-height: 400px;
}
.mobile-menu a {
  padding: 1rem 5%;
  color: rgba(var(--putih), 0.7);
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
  border-bottom: 1px solid rgba(var(--grey), 0.1);
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
}
.mobile-menu a:hover {
  color: rgb(var(--gold));
}

.nav-wrapper {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  background: transparent;
  transition: 0.4s;
  z-index: 11000;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.navbar {
  transition: 0.4s;
  backdrop-filter: blur(5px);
  color: rgba(var(--putih), 0.7);
  border: 1px solid rgba(var(--grey), 0.2);
  padding: 0.6rem 2rem;
  border-radius: 20px;
  display: flex;
  width: fit-content;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.nav-wrapper:hover .right-nav a,
.nav-wrapper:hover .left-nav h1 {
  color: rgb(var(--putih));
}
.left-nav {
  display: none;
}
.left-nav h1 {
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  color: rgb(var(--gold));
  font-weight: bold;
  font-family: "Cinzel", serif;
}

.right-nav {
  display: flex;
  gap: 3rem;
}

.right-nav a {
  color: rgb(var(--grey));
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  position: relative;
}

.right-nav a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 2px;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(var(--gold));
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-radius: 30%;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -ms-transition: width 0.5s;
  -o-transition: width 0.5s;
}

.right-nav a:hover::before {
  width: 100%;
}

.right-nav a:not(:hover) a{
  color: var(--grey);
}

/* hero */
.hero-section {
  width: 90%;
  display: flex;
  position: absolute;
  justify-content: space-around;
  flex-wrap: wrap;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  left: 50%;
}
.right-about-stack {
  width: 25rem;
  height: 25rem;
  flex-shrink: 0;
}


.text-hero {
  color: rgb(var(--putih));
  z-index: 9999;
  display: grid;
  width: 33rem;
  gap: 1.5rem;
}
.text-hero button {
  padding: 1rem 1.3rem;
  background-color: transparent;
  border: 1px solid rgb(var(--gold));
  color: rgb(var(--putih));
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px 1px rgba(var(--dark-gold), 0.5);
}

.title {
  color: rgb(var(--gold));
  font-weight: bold;
  letter-spacing: 0.3rem;
}

.h1-text {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  color: rgb(var(--putih));
}
.h1-text.big {
  font-size: 3.2rem;
}
.lighter {
  font-weight: lighter;
}
.h1-text span {
  color: rgb(var(--gold));
}

.description {
  font-size: 1.1rem;
  font-weight: lighter;
}

.skills-app {
  padding-top: 0.1rem;
  margin-top: 1rem;
}

.skills-wrapper {
  display: flex;
  align-self: flex-start;
  margin-top: 1rem;
}
.skills-wrapper .skills-tech {
  display: flex;
  gap: 1.5rem;
  width: auto;
  padding: 1rem 1.5rem;
  border: 1px solid rgb(var(--dark-gold));
  border-radius: 1rem;
  background-color: rgba(var(--itam), 0.15);
}
.skills-wrapper .skills-tech img {
  width: 2rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.skills-wrapper .skills-tech img:hover {
  filter: drop-shadow(0 0 10px rgba(var(--gold), 1));
  transform: translateY(-5px);
  -webkit-filter: drop-shadow(0 0 10px rgba(var(--gold), 1));
}

/* about */
.about-app {
  box-shadow: 0 0 30px 3px rgb(var(--itam));
  width: 100%;
}
.about-app .about-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding: 8rem 10%;
  gap: 6rem;
  background-color: rgb(var(--darkgrey));
  position: relative;
  z-index: 4;
  .left {
    font-size: 50px;
  }
}

.right-about-music {
  width: 100%;
}
.right-about-music .mp-card {
  width: 100%;
}

/* section line */
.section-title {
  display: flex;
  align-items: center;
  gap: 20px;
}
.section-title span {
  color: rgba(var(--putih), 0.6);
  letter-spacing: 0.6rem;
  font-size: 24px;
}

.line {
  flex: 1;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(var(--putih), 0.1) 40%,
    rgba(255, 255, 255, 0)
  );
}

/* skills */
.skills-section {
  width: 90%;
  margin: 10rem auto;
}
.skills-section .description {
  margin: 3rem 0 7rem;
  color: rgba(var(--putih), 0.7);
}
.skills-section .skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}
.skills-section .text-skills {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.skills-card-wrap {
  margin-bottom: 4rem;
}
.skills-card-wrap .skills-card {
  padding: 0.7rem 1.1rem;
  border: 1px solid rgba(var(--gold), 0.4);
  background-color: rgba(var(--putih), 0.02);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: rgb(var(--putih));
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.skills-card-wrap .skills-card h2 {
  font-weight: lighter;
}
.skills-card-wrap .skills-card img {
  width: 2rem;
  height: 2rem;
}
.skills-card-wrap .skills-card:hover {
  border-color: rgb(var(--dark-gold));
  box-shadow: 0 0 10px 1px rgba(var(--gold), 0.4);
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
}

/* project */
.project-app {
  width: 90%;
  padding-top: 5rem;
  margin: 0 auto;
}
.project-app .h1 .h1-text {
  position: relative;
}
.project-app .h1 .h1-text::before {
  content: "";
  position: absolute;
  width: 8rem;
  bottom: -1rem;
  left: 0;
  height: 3px;
  background-color: rgb(var(--dark-gold));
}

.ppp {
  margin-bottom: 3rem;
}

.btn {
  display: flex;
  gap: 0.6rem;
}
.btn button {
  padding: 0.3rem 0.8rem;
  background-color: transparent;
  color: rgb(98, 98, 98);
  border: 1px solid rgb(40, 40, 40);
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  border-radius: 20px;
}

.project-card {
  width: 100%;
  border-radius: 20px;
  height: auto;
  display: flex;
  color: white;
  background-color: transparent;
  border-bottom: 1px solid rgb(40, 40, 40);
  transition: 0.3s;
  padding: 3rem;
  justify-content: space-between;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.project-card .project-kiri {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.project-card .project-kiri .label {
  color: rgba(255, 255, 255, 0.1);
  font-size: 1.7rem;
  transition: 0.3s;
}
.project-card .project-kiri .judul {
  display: grid;
  gap: 1rem;
}
.project-card .project-kiri h1 {
  transition: 0.3s;
  font-size: 3rem;
  font-weight: lighter;
}
.project-card .project-kanan {
  gap: 2rem;
  color: rgba(255, 255, 255, 0.1);
  align-items: center;
  display: flex;
}
.project-card .project-kanan img {
  z-index: 1;
  aspect-ratio: 20/10;
  object-fit: cover;
  width: 18rem;
  border-radius: 20px;
}
.project-card .project-kanan i {
  z-index: 1;
  transition: 0.3s;
}
.project-card:hover {
  background-color: rgba(0, 213, 255, 0.01);
}
.project-card:hover .label,
.project-card:hover i,
.project-card:hover h1 {
  color: rgb(var(--gold));
  z-index: 1;
}

/* contact */
@keyframes kedip {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#contact {
  margin-top: 10rem;
  padding: 8rem 0;
}
.contact-wrap {
  text-align: center;
}
.contact-wrap .sapa-btn .skills-card {
  padding: 1.4rem 4rem;
  width: fit-content;
}
.contact-wrap .sapa-btn {
  margin: 5rem 0;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.contact-wrap .sapa-btn i {
  font-size: 1.5rem;
}
.contact-wrap .sapa-btn a:last-child .skills-card {
  border-color: #7070705b;
  color: rgba(255, 255, 255, 0.664);
}
.contact-wrap .social-btn {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 5rem;
}
.contact-wrap .social-btn .skills-card {
  border-color: rgba(var(--grey), 0.2);
  color: #999999;
}
.contact-wrap .social-btn .skills-card:hover {
  border-color: rgba(var(--dark-gold));
  color: rgb(var(--gold));
}
.contact-wrap .available {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  gap: 0.5rem;
  color: rgb(var(--gold));
  background-color: rgba(var(--dark-gold), 0.2);
  padding: 0.3rem 0.8rem 0.4rem;
  border-radius: 15px;
  width: fit-content;
}
.contact-wrap .available i {
  font-size: 0.7rem;
  margin-top: 0.1rem;
  animation: kedip 2s infinite linear;
}
.contact-wrap .description {
  color: #707070;
}
.contact-wrap .v-line {
  width: 10rem;
  height: 0.2rem;
  background: radial-gradient(
      circle,
      rgba(var(--gold), 0.4),
      rgba(29, 107, 162, 0.01)
    )
    90%;
  margin: 0 auto;
  border-radius: 50%;
}

/* ========== RESPONSIVE ========== */

/* tablet ≤ 1024px */
@media (max-width: 1024px) {
  html {
    font-size: 93%;
  }

  .navbar {
    width: 90%;
  }

  .text-hero {
    width: 28rem;
  }

  .about-app .about-wrapper {
    padding: 6rem 5%;
    gap: 3rem;
  }
  .about-app .about-wrapper .right-about {
    width: 20rem;
  }
  .about-app .about-wrapper .right-about-stack {
    width: 20rem;
    height: 20rem;
  }

  .project-card {
    padding: 2rem;
  }
  .project-card .project-kiri h1 {
    font-size: 2.2rem;
  }
  .project-card .project-kanan img {
    width: 14rem;
  }
}

/* mobile ≤ 768px */
@media (max-width: 768px) {
  html {
    font-size: 85%;
  }

  /* navbar */
  .navbar {
    justify-content: space-between;
    width: 90%;
    padding: 0.6rem 1.2rem;
  }
  .left-nav {
    display: block;
  }

  .right-nav {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .mobile-menu {
    display: flex;
    border: none;
    width: 90%;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -ms-border-radius: 0 0 20px 20px;
    -o-border-radius: 0 0 20px 20px;
    background: linear-gradient(to bottom, rgb(var(--itam), .1), rgb(var(--itam), .3));
}
  .mobile-menu a {
    color: rgb(var(--putih));
    text-shadow: 0 2px 5px rgb(var(--dark-gold));
    font-weight: bold;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

  /* hero */
  .hero-section {
    width: 95%;
  }
  .text-hero {
    position: relative;
    top: unset;
    transform: none;
    -webkit-transform: none;
    width: 100%;
    padding: 2rem 5% 0;
    gap: 1rem;
  }
  .h1-text {
    font-size: 1.8rem;
  }
  .h1-text.big {
    font-size: 2rem;
  }

  #home {
    padding-top: 5rem;
    padding-bottom: 2rem;
  }

  /* about */
  .right-about-stack {
    max-width: 16rem;
    height: 16rem;
    margin-top: 5rem;
  }
  .about-app .about-wrapper .right-about-music {
    width: 100%;
    max-width: 22rem;
  }
  .about-app .about-wrapper .right-about-music .mp-card {
    width: 100%;
  }

  /* skills */
  .skills-section {
    width: 95%;
    margin: 6rem auto;
  }
  .skills-section .description {
    margin: 2rem 0 4rem;
  }

  /* projects */
  .project-app {
    width: 95%;
    padding-top: 3rem;
  }
  .project-card {
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.5rem;
  }
  .project-card .project-kiri {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
  }
  .project-card .project-kiri h1 {
    font-size: 1.8rem;
  }
  .project-card .project-kanan {
    justify-content: space-between;
  }
  .project-card .project-kanan img {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16/9;
  }
  .project-card .project-kanan i {
    display: none;
  }

  /* contact */
  #contact {
    margin-top: 5rem;
    padding: 5rem 5%;
  }
  .contact-wrap .sapa-btn {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 3rem 0;
  }
  .contact-wrap .sapa-btn .skills-card {
    padding: 1.2rem 2.5rem;
    width: 100%;
    max-width: 280px;
    justify-content: center;
  }
  .contact-wrap .social-btn {
    flex-wrap: wrap;
    gap: 0.8rem;
    margin-top: 3rem;
  }
}

/* small mobile ≤ 480px */
@media (max-width: 480px) {
  html {
    font-size: 82%;
  }

  .h1-text {
    font-size: 1.5rem;
  }
  .h1-text.big {
    font-size: 1.7rem;
  }

  .scroll-reveal-text {
    font-size: clamp(1.3rem, 5vw, 2rem);
    letter-spacing: 0.2rem;
  }

  .about-app .about-wrapper .right-about {
    max-width: 18rem;
  }
  .about-app .about-wrapper .right-about-stack {
    width: 18rem;
    height: 18rem;
    max-width: 18rem;
  }
  .about-app .about-wrapper .right-about-music .mp-card {
    width: 100%;
  }

  .project-card .project-kiri .label {
    display: none;
  }
  .skills-card-wrap {
    margin-bottom: 2rem;
  }
}
